"*":
  "atom-toolbar": {}
  "autocomplete-plus":
    autoActivationDelay: 500
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "linter-codeclimate"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "tmp"
      "log"
      "node_modules"
      "public/assets"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-dark-monokai-syntax"
    ]
  editor:
    fontFamily: "Noto Mono"
    fontSize: 10
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "0c20128e-d05a-27c6-7466-f2c54eabd244"
  linter:
    displayLinterInfo: false
  "linter-codeclimate":
    init: false
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  semanticolor:
    cCakeFileLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    cLanguageC:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    cLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    cScriptFileLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    clojureLanguageClojure:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    coffeescriptLanguageCoffeeScript:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    coffeescriptLiterateLanguageCoffeeScript:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    colorOptions:
      fade: 40
      hues: 700
      luminosity: 50
      saturation: 90
    cssLanguageCss:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    dartDartlang:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    dockerfileLanguageDocker:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    dockerignoreLanguageDocker:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    gitConfigLanguageGit:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    goLanguageGo:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    htmlLanguageHtml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javaLanguageJava:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javaPropertiesLanguageJava:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javascriptLanguageJavascript:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javascriptRailsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    jsonLanguageJson:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    lessLanguageLess:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    makefileLanguageMake:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    nantBuildFileLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    nginxLanguageNginx:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    objectiveCLanguageObjectiveC:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    perl6LanguagePerl:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    perlLanguagePerl:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    phpLanguagePhp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    propertyListOldStyleLanguagePropertyList:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    puppetLanguagePuppet:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    pythonLanguagePython:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    regularExpressionsPythonLanguagePython:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    rubyLanguageRuby:
      "attribute-name": "colorize"
      comment: "theme"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    rubyOnRailsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    rubyOnRailsRjsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    sassLanguageSass:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    scssLanguageSass:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    sqlLanguageSql:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    sqlRailsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    stringsFileLanguageObjectiveC:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    tomlLanguageToml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    xmlLanguageXml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    yamlExtDartlang:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    yamlLanguageYaml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "theme"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "mute"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
  "spell-check":
    addKnownWords: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
".dart.source":
  editor:
    preferredLineLength: 100
".source.yaml-ext":
  editor:
    preferredLineLength: 100
"pull-requests":
  githubAuthorizationToken: "4c1d65e3e835860986525e3677321cb07b86ee9e"
