packages: [
  "aligner"
  "atom-beautify"
  "atomic-chrome"
  "color-picker"
  "coverage"
  "file-icons"
  "language-docker"
  "language-nginx"
  "linter"
  "linter-codeclimate"
  "linter-docker"
  "linter-erb"
  "linter-eslint"
  "linter-rubocop"
  "multi-cursor"
  "package-sync"
  "ruby-test"
  "semanticolor"
  "synced-sidebar"
  "toggle-quotes"
  "zentabs"
]
